@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Outfit";
    src: url("./assets/fonts/Outfit-VariableFont_wght.ttf");
  }
  * {
    @apply box-border;
  }
  *::selection {
    @apply bg-primary/80 text-white dark:bg-primary-light;
  }
  *::-webkit-scrollbar {
    @apply w-1.5 cursor-pointer;
  }
  body {
    @apply  bg-grey-light;
  }
  p {
    @apply text-grey-dark dark:text-grey;
  }
  h1 {
    @apply text-2xl font-bold text-tertiary dark:text-white;
  }
  h2 {
    @apply text-xl font-semibold text-tertiary dark:text-grey-light;
  }
  h3 {
    @apply text-lg font-semibold text-tertiary dark:text-grey-light;
  }
  table thead th {
    @apply py-2 font-medium text-left text-grey-dark border-b border-slate-200
  }
  table tbody td {
    @apply py-1.5 font-medium text-left text-tertiary dark:text-grey;
  }
  main.main-customer {
    @apply min-h-[calc(100vh-113.6px)];
  }
  label {
    @apply font-medium text-tertiary/70 dark:text-grey cursor-pointer select-none;
  }
  select {
    @apply cursor-pointer;
  }
  mark {
    @apply text-primary bg-inherit;
  }
}

@layer components {
  #search-box:has(input:focus) {
    @apply ring-1 ring-primary ring-offset-1 dark:ring-primary-light border-none;
  }
  input[type="search"]::-webkit-search-cancel-button {
    @apply relative right-1 w-4 h-4 rounded-full bg-contain bg-[url('./assets/icons/clear.svg')] opacity-30 text-white cursor-pointer bg-no-repeat;
    -webkit-appearance: none;
  }
  .card {
    @apply p-5 rounded-lg bg-white dark:bg-black-dark;
  }
  .form-input {
    @apply flex-initial px-3 py-2 rounded-md text-tertiary ring-1 ring-grey-dark focus:outline-none focus:ring-primary dark:bg-transparent dark:text-grey dark:ring-grey-dark dark:focus:ring-1 dark:focus:ring-primary-light;
  }
  /* button */
  .btn {
    @apply rounded-md px-6 py-2 font-medium cursor-pointer capitalize tracking-wide select-none;
  }
  .btn-primary {
    @apply bg-primary text-white border border-primary active:ring-1 active:ring-primary active:ring-offset-2 dark:bg-primary-light dark:border-primary-light dark:active:ring-primary-light;
  }
  .btn-secondary {
    @apply bg-inherit text-primary border border-primary active:bg-primary active:text-white dark:text-primary-light dark:border-primary-light dark:active:bg-primary-light dark:active:text-white;
  }
}
